<p-dialog [(visible)]="viewDialog" [style]="{width: '450px'}" header="Declaration IS Details" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="p-field">
            <label for="ref">Ref</label>
            <input type="text" pInputText id="ref" [(ngModel)]="selected.ref" disabled />
        </div>
        <div class="p-field">
            <label for="annee">Année</label>
            <input type="text" pInputText id="annee" [(ngModel)]="selected.annee" disabled />
        </div>
        <div class="p-field">
            <label for="societe">Société</label>
            <input type="text" pInputText id="societe" [(ngModel)]="selected.societe.ice" disabled />
        </div>
        <div class="p-field">
            <label for="totalHTDiff">Résultat fiscal  (MAD)</label>
            <input type="text" pInputText id="totalHTDiff" [(ngModel)]="selected.totalHTDiff" disabled />
        </div>
        <div class="p-field">
            <label for="montantISCalcule">Montant calculé  (MAD)</label>
            <input type="text" pInputText id="montantISCalcule" [(ngModel)]="selected.montantISCalcule" disabled />
        </div>
        <div class="p-field">
            <label for="montantISPaye">Montant payé  (MAD)</label>
            <input type="text" pInputText id="montantISPaye" [(ngModel)]="selected.montantISPaye" disabled />
        </div>
        <div class="p-field">
            <label for="etatDeclaration">État</label>
            <input type="text" pInputText id="etatDeclaration" [(ngModel)]="selected.etatDeclaration.libelle" disabled />
        </div>
        <div class="p-field">
            <label for="tauxIS">Taux appliqué  (%)</label>
            <input type="text" pInputText id="tauxIS" [(ngModel)]="selected.tauxIS.pourcentage" disabled />
        </div>

    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Fermer" icon="pi pi-times" class="p-button-text" (click)="hideViewDialog()"></button>
    </ng-template>
</p-dialog>

