 /*#haw{
    border-width: 10px;
    border-color: red;
    border-color: #0a3e41;
}
*/


 input[type="number"]{
     color: black;
     font-weight: bold;
 }
 .factCard{
     height: 500px;
     border-radius: 10px;
 }
 input[type= "file"]{
     display: none;
 }
 label[for="file"]{
     color: white;
     height: 40px;
     width: 120px;
     background-color: #b02ed0;
     border-radius: 3px;
     font-size: 15px;
     margin: auto;
     top: 0;
     bottom: 0;
     left: 0;
     right: 0;
     display: flex;
     justify-content: center;
     align-items: center;
     font-family: sans-serif;
 }
