/*$myPaddingButton: 15px;

.p-col-6 p-offset-3 p-mr-2 p-mb-2, .p-col-6 p-mb-2 p-mr-2, .p-col-6 p-mb-2{
  padding: $myPaddingButton;
}
*/

mark {
  color: #7c5d3b;
  background-color: #ffd8b1;
  font-family: system-ui;
  font-weight: bold;
}

